:root {
  --primary-color: #020403;
  --secondary-color: #adadad;
  --third-color: #ffffff;
  --font-family: "Rubik", sans-serif;
}
/* general settings */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background-color: var(--primary-color);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}
h1 {
  color: var(--third-color);
  font-size: 40px;
}
h2 {
  font-size: 25px;
  color: var(--third-color);
  text-align: start;
}
h4 {
  font-size: 18px;
  color: var(--third-color);
}
p {
  font-size: 16px;
  color: var(--secondary-color);
}
a {
  color: var(--third-color);
  text-decoration: none;
}
/* menu mobile */
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 15px;
}
nav a{
  margin-bottom: 10px;
}
header img {
  margin: 15px 15px 0 auto;
  display: block;
  cursor: pointer;
}
.rotate{
  transform: rotate(-90deg);
}
.hidden{
  display: none;
}
/* main */
.img-principal img {
  margin: 40px auto 0 auto;
  max-width: 65%;
}
main h3 {
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: 600;
}
.main {
  text-align: center;
  background-image: url(/img/Group\ 99.svg);
  background-repeat: no-repeat;
  background-position:top;
  background-size:contain;
}
.content-main {
  margin: 0 auto;
  background-image: url(/img/Layer.svg);
  background-repeat: no-repeat;
  background-position:bottom;
  background-size:contain;
}
.content-media img{
  padding: 0 10px 100px 10px;
  width: 60px;
}
/* about me */
.acerca-de-mi p {
  text-align: center;
  letter-spacing: 1.5px;

}
.acerca-de-mi {
  min-width: 265px;
  margin: 0 25px 0 25px;
}
.acerca-de-mi h2{
  margin-top: 0;
}

/* skills */
.skills-tittle{
  background-image: url(/img/Group\ 97.svg);
  background-repeat: no-repeat;
  background-position-x:115% ;
  background-position-y:0 ;
  background-size: 25%;
}
.skills-tittle h2{
  margin-left: 25px;
}
.skill-img{
  background-color: #1c1616;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills{
  text-align: center;
}
.content-skills{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 265px;
  margin: 0 25px 0 25px;
}
.skill-img img{
  display:inline-block;
  margin: 0 auto;
  width: 75px;
  height: 75px;
}
.content-skills p{
  color: var(--third-color);
  font-weight: bold;
}
/* experience */
.experiencia {
  min-width: 265px;
  margin: 50px 25px 0 25px;
}
.content-exp{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content-exp span{
  color: var(--third-color);
  font-weight: bold;
}
.border-exp{
  margin-bottom: 0;
  border-bottom: 0.5px solid var(--secondary-color);
}
/* portfolio */
.portafolio {
  padding-top: 25px;
  min-width: 265px;
  /* margin: 0 25px 0 25px; */
  background-image: url(/img/Group\ 97.svg);
  background-repeat: no-repeat;
  background-position-x:-7% ;
  background-position-y:0 ;
  background-size: 25%;
}
.portafolio h2{
  margin: 0 25px 25px 25px;
}
.portafolio img {
  margin: 0 auto 25px auto;
  max-width: 400px;
  min-width: 300px;
}
.content-portfolio{
  display: flex;
  flex-wrap: wrap;
}
/* footer */
footer{
  text-align: center;
  min-width: 265px;
  margin: 25px 25px 0 25px;
}
.container-footer{
  display: flex;
  justify-content: center;
  min-width: 265px;
  margin: 0 25px 25px 25px;
}
.border{
  border: 1px var(--secondary-color) solid;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.border img{
  display:inline-block;
  margin: 0 auto;
  width: 50px;
}

/* media queries */
@media (min-width:992px) {
  /* body{
    background-color: #adadad;
  } */
  .menu-mobile{
    display: none;
  }
  .hidden{
    display: block;
    text-align:right;
    margin-top: 15px;
  }
  .hidden a{
    margin-right: 25px;
  }
  .content-main {
     max-width:max-content; 
    /* margin: 0 auto; */
  }
  .acerca-de-mi{
    margin: 0 50px;
  }
  .skills-tittle{
    padding-top: 35px;
  }
  .content-skills{
    max-width: 992px;
    margin: 0 auto;
  }
  .content-exp{
    max-width: 800px;
    margin: 0 auto;
  }
  .content-portfolio{

    margin: 0 50px;
  }
  h2{
    text-align: center;
    font-size: 50px;
  }
  h1{
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 0;
  }
  main h3{
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h4{
    font-size: 45px;
  }
  p{
    font-size: 18px;
  }
  .portafolio{
    background-size: 15%;
  }
  .skills-tittle{
    background-size: 20%;
  }
  .content-media img{
    padding: 0 10px 200px 10px;
    width: 80px;
  }
}